@model string
<div class="Content">
    <form method="post" action="/User/SubmitChangePassword">
        <h2>Введите пароль</h2>
        <input type="password" name="Password1" required>
        <h2>Подтвердите пароль</h2>
        <input type="password" name="Password2" required>
        <input type="hidden" name="Id" value="@ViewBag.Id" />
        <input type="hidden" name="Token" value="@Model" />
        <button class="btn">Подтвердить</button>
    </form>
</div>