@model bool
<div class="Content">
    @if (Model)
    {
        <h2 id="message">Поздравляем с завершением регистрации на платформе! Теперь осталось войти в ваш новый личный кабинет:)</h2>
    }
    else
    {
        <h2 id="message">К сожалению эта ссылка уже неактуальна. Ваши данные при регистрации были удалены из нашей базы данных, так как прошло более 30 минут с момента отправки письма на почту. Пожалуйста, отправьте сообщение на почту снова:)
            P.s. Это единственный способ борьбы со спамом аккаунтов, заранее просим прощения :-)
        </h2>
    }
</div>