@Model bool
<div class="Content">
    @if (Model)
    {
        <h2>Поздравляем с завершением регистрации на платформе!</h2>
    }
    else
    {
        <h2>К сожалению эта ссылка уже неактуальна. Отправьте сообщение на почту снова</h2>
    }
</div>