<div class="Content">
<h2>Введите ваш Email:</h2>
<form method="post" action="/User/ForgotPassword" id="Search">
    <input type="text" name="Email" placeholder="" id="enter"/>
    <button id="enter"><span class="fa-solid fa-turn-down fa-rotate-90 height100"></span></button>
</form>
</div>