<div class="Content">
<h2>Введите ваш Email:</h2>
<form method="post" action="/User/ForgotPassword" id="Search">
    <input type="text" name="Email" placeholder="" />
    <input type="submit" class="btn" value="Отправить" />
</form>
</div>