<div class="Content">
    <h2>Настройки</h2>
    <p>Выбор темы:</p>
    <div>
        <input type="radio" value="light" checked name="color"/> Светлая
    </div>
    <div>
        <input type="radio" value="dark" name="color" /> Темная
    </div>
    <button class="Button" type="submit" action="User/ChangeBackgroundColor">Применить</button>
</div>