@model List<bool>
<div class="Content">
    <div class="Reg">
        <div class="RegistrationForm">
            <h2>Регистрация</h2>
            <form method="post" action="/User/Registration" id="RegForm">
                @if (Model[0])
                {
                    <span class="ErrorForm">Фамилия должна быть от 2 до 20 символов</span>
                }
                <div class="field">
                    <span class="fa-solid fa-circle-info"></span>
                    <input type="text" name="LastName" required>
                    <label>Фамилия</label>
                </div>
                @if (Model[1])
                {   
                    <span class="ErrorForm">Имя должно быть от 2 до 15 символов</span>
                } 
                <div class="field">
                    <span class="fa-solid fa-circle-info"></span>
                    <input type="text" name="FirstName" required>
                    <label>Имя</label>
                </div>
                @if (Model[2])
                {   
                    <span class="ErrorForm">Логин должен быть от 3 до 20 символов</span>
                }
                @if (Model[7])
                {
                    <span class="ErrorForm">Такой логин уже существует</span>
                }
                <div class="field">
                    <span class="fas fa-user"></span>
                    <input type="text" name="LoginName" required>
                    <label>Логин(для входа в лк)</label>
                </div>
                @if (Model[3])
                {
                    
                    <span class="ErrorForm">Почта должна содержать символ '@@'</span>
                }
                @if (Model[8])
                {
                    
                    <span class="ErrorForm">Аккаунт с этой почтой уже был создан</span>
                }
                <div class="field">
                    <span class="fa-regular fa-envelope"></span>
                    <input type="text" name="Email" required>
                    <label>Почта</label>
                </div>
                @if (Model[4])
                {
                        <span class="ErrorForm">Пароль содержит символы, отличные от латинских символов, цифр или указанных специальных знаков: (! ? , . % # * $)</span>
                }
                @if (Model[5])
                { 
                    <span class="ErrorForm">Пароль должен быть из 8 и более символов</span>
                }
                <div class="field">
                    <span class="fas fa-lock"></span>
                    <input type="password" name="Password1" required>
                    <label>Пароль</label>
                </div>
                @if (Model[6])
                {

                    <span class="ErrorForm">Пароли не совпадают, повторите попытку</span>
                }
                <div class="field">
                    <span class="fa-solid fa-check"></span>
                    <input type="password" name="Password2" required>
                    <label>Подтвердите пароль</label>
                </div>
                <button>Зарегистрироваться</button>
            </form>
        </div>
    </div>
</div>
