@model List<bool>
<h2>Регистрация</h2>
<div class="Content">
<div class="RegistrationForm">
    <form method="post" action="/User/Registration" id="RegForm">
        @if (Model[0])
        {
            <span class="ErrorForm">Фамилия должна быть от 2 до 20 символов</span>
        }
        <span class="RegLabel"><br />Фамилия:</span>
        <br/><input type="text" name="LastName"/>
        @if (Model[1])
        {
            <br />
            <span class="ErrorForm">Имя должно быть от 2 до 15 символов</span>
        }
        <span class="RegLabel"><br/>Имя:</span>
        <br/><input type="text" name="FirstName"/>
        @if (Model[2])
        {
            <br />
            <span class="ErrorForm">Логин должен быть от 3 до 20 символов</span>
        }
        <span class="RegLabel"><br/>Логин(для входа в лк):</span>
        <br/><input type="text" name="NickName"/>
        @if (Model[3])
        {
            <br />
            <span class="ErrorForm">Почта должна содержать символ '@@'</span>
        }
        <span class="RegLabel"><br/>Почта:</span>
        <br/><input type="text" name="Email"/>
        @if (Model[4])
        {
            <br />
            <span class="ErrorForm">Пароли не совпадают, повторите попытку</span>
        }
        <span class="RegLabel"><br/>Пароль:</span>
        <br/><input type="password" name="Password1"/>
        <span class="RegLabel"><br/>Повторите пароль:</span>
        <br/><input type="password" name="Password2"/>
        <br/><input type="submit" class="btn btnRegForm" value="Зарегестрироваться"/>
    </form>
</div>
</div>
