<div class="Content">
    <h1 id="message">Сообщение о подтверждении регистрации отправлено вам на почту. Просьба подтвердить ее в <span class="red">течении 30 минут</span>, иначе ваши данные будут стерты:)</h1>
</div>