@model bool
<div class="Content Center">
    @if(Model)
    {
        <p class="size23">Ура, ваш пароль успешно изменен🎉🎉</p>
        <img src="~/gifs/happy cat.gif" id="happyCat" />
    }
    else
    {
        <p class="size23">Что-то пошло не так...🥲🥲</p>
    }
</div>
