@using FilmZone.Domain.Enum
@model List<FilmZone.Domain.ViewModels.FilmViewModel>
@{
    string filmDesc;
    int currentId = ViewBag.id;
}
@foreach (var film in Model)
{
    <div class="InfoFilm">
        <img src="@Url.Content(film.PathToImage)" />
        <h2>@film.Name</h2>
        @{
            if (film.Description.Length > 320)
            {
                filmDesc = film.Description[..320] + "...";
            }
            else
            {
                filmDesc = film.Description;
            }
        }
        @filmDesc
        <form method="get" action="/Film/SearchById/@film.Id">
            <button type="submit" class="Button">Смотреть</button>
        </form>
        
    </div>
}

@if (!ViewBag.End)
{
    <form id="loadMoreForm" method="get">
        <input type="hidden" name="currentId" value='@currentId' />
        <button type="submit" id="ButtonWatchMore">Смотреть еще</button>
    </form>
}
<input type="hidden" id="newCurrentId" value="@currentId" />