@using FilmZone.Domain.Enum
@model List<FilmZone.Domain.Models.Film>
<div class="Content">
    <h1>Новые фильмы</h1>
    <div class="FilmsBlock">
        @foreach (var film in Model)
        {
            if (film.FilmOrSerial == FilmOrSerial.Film)
            {
                <a href="/Film/SearchById/@film.Id"><img src="@Url.Content(film.PathToImage)" alt=""></a>
            }
        }
    </div>
    <h1>Новые сериалы</h1>
    <div class="SerialsBlock">
        @foreach (var film in Model)
        {
            if (film.FilmOrSerial == FilmOrSerial.Serial)
            {
                <a href="/Film/SearchById/@film.Id"><img src="@Url.Content(film.PathToImage)" alt=""></a>
            }
        }
    </div>
    <div class="Posts">
        <hr>
        <h2><a href="https://pikabu.ru/story/maloizvestnyie_faktyi_o_semkakh_filma_interstellar_8286626">Как снимали Интерстеллар</a></h2>
        <div class="PostsContent">
            <p>
                На CinemaCon 2014 Кристофер Нолан сказал, что для него «Интерстеллар» - это возвращение к фильмам,
                которые он смотрел в детстве. В частности, он говорил о «Космической одиссеи» 2001 года, говоря,
                что она оказала огромное влияние на его карьеру. Он и его команда, которая работала над созданием
                «Интерстеллара» также смотрели космический эпос Филипа Кауфмана «Парни что надо» 1983 года, который
                сам Нолан оценил очень высоко.
            </p>
            <p class="ReadRef"><a href="https://pikabu.ru/story/maloizvestnyie_faktyi_o_semkakh_filma_interstellar_8286626">Читать далее</a></p>
        </div>
        <hr>
        <h2><a href="https://web.archive.org/web/20170704062914/https://www.kinopoisk.ru/photostory/2348719/">Актер Том Хенкс поделился впечатлением о фестивале</a></h2>
        <div class="PostsContent">
            <p>
                16 февраля в Лондоне состоялась 67-я церемония вручения наград Британской киноакадемии. Леонардо ДиКаприо,
                Брэд Питт, Анджелина Джоли, Кейт Бланшетт, Хелен Миррен, Эми Адамс, Кристиан Бэйл, Альфонсо Куарон и другие
                гости и победители премии — в нашем репортаже.
            </p>
            <p class="ReadRef"><a href="https://web.archive.org/web/20170704062914/https://www.kinopoisk.ru/photostory/2348719/">Читать далее</a></p>
        </div>
    </div>
</div>