.vs/
FilmZone/obj/
FilmZone/bin/
FilmZone.Service/obj/
FilmZone.Service/bin/
FilmZone.DAL/obj/
FilmZone.DAL/bin/
FilmZone.Domain/obj/
FilmZone.Domain/bin/
TGBot/bin
TGBot/obj
TGBot/PrivateClass.cs
TestProjectForFilmZone
TGBot/PrivateClass.cs
TestDB/
TimerHostedService/