@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0px;
    margin: 0px;
    border: none;
}

div {
    display: block;
    unicode-bidi: isolate;
}

body {
    font-size: 1.2em;
    background-color: #fff;
    color: #555;
}

p {
    padding: 0 0 20px 0;
    line-height: 1.2em;
    font-family: 'Yandex Sans Text';
    font-weight: 400;
    font-size: 17px;
}

hr {
    border: solid 1px #f3f3f3;
    width: 515px;
    margin-left: 30px;
}


input[type="search"] {
    color: #5d5d5d;
    width: 90%;
    padding: 8px;
    margin-left: 5%;
    border-radius: 15px;
    padding-right: 34px;
}

input[type="text"] {
    padding: 8px;
}

input[type="password"] {
    margin-bottom: 10px;
    padding: 8px;
}

input, textarea {
    outline: none;
    border: solid 1px #f2f2f2;
    font-family: 'Yandex Sans Text';
    font-weight: 400;
    font-size: 14px;
}

    input[type="submit"]{
        cursor: pointer;
    }

    textarea {
        padding: 5px;
    }

button{
    border: none;
    cursor: pointer;
}

h1, h2 {
    font: normal 170% 'Yandex Sans Display';
    margin: 0 0 15px 0;
    padding: 5px 0 5px 0;
    color: #97721a
}

h2 {
    font-size: 140%;
}

a {
    outline: none;
    color: #c0984d;
    text-decoration: none;
    font-family: 'Comic Sans MS', 'Yandex Sans Display', cursive;
}

    a:hover {
        /*outline: none;*/
        color: #fbbe4a;
        /*font-family: cursive;
        text-decoration: none;*/
    }

ul {
    margin: 0 22px 0 17px;
}

    ul li {
        margin: 0 0 6px 0;
        padding: 0 0 4px 5px;
        line-height: 1.5em;
    }

.Header {
    background-color: #3c3a33;
    height: 120px;
    font-size: 0.8em;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 900px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.Main {
    background-image: url(../img/back.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.Main, .Logo, .SiteContent, .MenuBar, .Footer {
    margin-left: auto;
    margin-right: auto;
}

.Logo {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.MenuBar {
    width: 900px;
    height: 46px;
}

ul.Menu {
    display: table;
    margin: 0 auto;
}

    ul.Menu li {
        float: left;
        padding: 0 0 0 0;
        list-style: none;
        margin: 1px 2px 0 0;
        height: 30px;
    }

        ul.Menu li a {
            font: normal 106% 'Yandex Sans Display', sans-serif;
            display: block;
            height: 20px;
            padding: 5px 35px 5px 35px;
            text-decoration: none;
        }
        ul.Menu li.Enter{
            border: 1px solid;
            border-radius: 4px;
        }

        /*ul.Menu li span{
            font-size: 25px;
            color: #f3f3f3;

        }*/

        ul.Menu li.selected a, ul.Menu li.select a {
            color: #d3cbbd;
        }

        ul.Menu li.select a:hover {
            color: #ffeac2;
        }

            ul.Menu li.selected a:hover {
                color: #ffeac2;
                text-decoration: none;
            }

            ul.Menu li.selected a.active {
                color: #ffeac2;
                text-decoration: underline;
                text-decoration-thickness: 3px;
                text-underline-offset: 22px;
            }

        .SideBar li a {
            font-size: 15px;
            line-height: normal;
        }

ul.Menu li.selected .dropdown .dropdown-content a {
    text-decoration: none;
}
.btn {
    padding: 8px;
    background-color: #5d5d5d;
    cursor: pointer;
    border-radius: 5px;
    color: #f9f9f9;
    font-family: 'Yandex Sans Text';
}

form#SearchByName{
    position: relative;
}

input#find {
    text-indent: -9999px;
    line-height: 0;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 14px;
    cursor: pointer;
    border: 0px;
    z-index: 1;
    background-color: #fff0;
    border-radius: 5px;
    top: 2px;
}

.magnifying-glass {
    position: absolute;
    font-size: 20px;
    top: 7px;
    right: 21px;
    z-index: 0;
}

.Button {
    background-color: #5d5d5d;
    padding: 1.9%;
    color: white;
    border-radius: 5px;
    float: right;
    margin-top: 25px;
    clear: both;
    font-size: 0.8em;
    cursor: pointer;
}

    .Button a {
        color: white;
        text-decoration: none;
    }

.pop_up {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    box-sizing: border-box;
    background-color: transparent;
    transform: translateY(-42%) scale(0);
    transition: .2s ease-in-out;
}

    .pop_up.active {
        transform: translateY(0%) scale(100%);
        background-color: #dde1e7f7;
    }

.pop_up_container {
    display: flex;
    width: 100%;
    height: 100%;
}

.pop_up_body {
    display: grid;
    place-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin: auto;
    position: relative;
}

    .pop_up_body html, body {
        height: 100%;
    }

    .pop_up_body .content {
        width: 270px;
        background: #dde1e7;
        border-radius: 10px;
        padding: 40px 30px;
        box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
    }

        .pop_up_body .content .text {
            font-size: 33px;
            font-weight: 600;
            margin-bottom: 35px;
            color: #595959;
        }

        .pop_up_body .content .field {
            height: 50px;
            width: 100%;
            display: flex;
            position: relative;
            align-items: flex-start;
        }

    .pop_up_body .content .field input {
        height: 100%;
        width: 100%;
        padding-left: 45px;
        padding-bottom: 0;
        padding-top: 0;
        padding-right: 0;
        font-size: 18px;
        outline: none;
        border: none;
        color: #595959;
        background: #dde1e7;
        border-radius: 25px;
        box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #ffffff73;
    }

        .pop_up_body .field input:focus {
            box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #ffffff73;
        }

    .pop_up_body .field:nth-child(2) {
        margin-top: 20px;
    }

    .pop_up_body .field span {
        position: absolute;
        width: 50px;
        line-height: 50px;
        color: #595959;
        pointer-events: none;
    }

    .pop_up_body .field label {
        position: absolute;
        top: 50%;
        left: 45px;
        pointer-events: none;
        color: #666666;
        transform: translateY(-50%);
    }

    .pop_up_body .field input:valid ~ label {
        opacity: 0;
    }

    .pop_up_body .forgot-pass {
        text-align: left;
        margin: 10px 0 10px 5px;
    }

        .pop_up_body .forgot-pass a {
            font-size: 16px;
            color: #c09040;
            text-decoration: none;
        }

            .pop_up_body .forgot-pass a:hover {
                text-decoration: underline;
            }

.pop_up_body button {
    margin: 15px 0;
    width: 100%;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    background: #dde1e7;
    border: none;
    outline: none;
    color: #595959;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 2px 2px 5px #babecc, -5px -5px 10px #ffffff73;
}

    .pop_up_body button:focus {
        color: #c09040;
        box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #ffffff73;
    }

    .pop_up_body .signup {
        font-size: 16px;
        color: #595959;
        margin: 10px 0;
    }

        .pop_up_body .signup a {
            color: #c09040;
            text-decoration: none;
        }

            .pop_up_body .signup a:hover {
                text-decoration: underline;
            }

    .pop_up_body .pop_up_close {
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer;
    }

.cookie {
    position: fixed;
    left: 0;
    bottom: 0;
    justify-content: center;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    background-color: antiquewhite;
    display: flex;
    font-family: 'Yandex Sans Display';
    padding: 15px;
    font-style: italic;
}

.cookieClose{
    display: none;
}

/*        .cookie.cookie_active {
            display: flex;
        }*/

    .cookie .cookie_text {
        margin-right: 170px;
    }

    .cookie .cookie_apply {
        font-family: 'Yandex Sans Display';
        padding: 5px;
        background-color: #f9f9f9;
        width: 100px;
        height: 40px;
        border-radius: 7px;
        border: 1px solid #a1775a;
        position: absolute;
        bottom: 20px;
        right: 50px;
        cursor: pointer;
    }

.cookie_text .cookie_image {
    width: 35px;
}

.no-scroll {
    overflow: hidden;
}

.fa-telegram{
    margin: 0 4px;
}

#message {
    font: italic 100% 'Yandex Sans Display';
    margin: 0 0 15px 0;
    padding: 5px 0 5px 0;
    color: #595959;
}

.red{
    color: red;
}

.size23{
    font-size: 23px;
}

.userFont {
    font-style: italic;
    color: #5d5d5d;
    font-size: 35px;
    font-family: 'Yandex Sans Display';
}

#cryCat {
    border: 2px solid #999;
    width: 150px;
}