/*CSS Mobile*/
@media only screen and (min-device-width: 320px) and (max-device-width: 568px)  
{
    .Logo img {
        max-width: 100%;
    }

    .Logo{
        width: 90px;
    }

    .MenuBar{
        left: 7%;
    }
    /*p{
        font-size: 25px;
    }

    .Header {
        background-color: #414141;
        min-width: 100%;
        height: 20%;
        position: relative;
    }


    .Logo {
        width: 20%;
        float: left;
        position: absolute;
    }

    .mainColor {
        background-color: #f9f9f9;
    }

    .Main{
        background-image: none;
    }

    .SiteContent {
    width: 100%;
    }

    .Content {
        width: 100%;
        text-align: center;
    }

    .MenuBar {
        width: 100%;
        height: 210px;
        text-align: center;
    }

    .SiteContent {
    width: 100%;
    text-align: center;
    }

    .SideBar {
    display: none;
    }

    .Footer {
    display: none;
    }

    ul.Menu {
        float: none;
        padding-top: 1%;
    }

    ul.Menu li {
        margin: 0;
        padding: 0;
        float: none;
    }

        ul.Menu li a{
            font-size: 130%;
        }

    .Content h1, h2 {
        font: normal 180% 'century gothic', areal;
    }

    .FilmsBlock img {
        width: 43%;
        height: 600px;
    }

    .SerialsBlock img {
        width: 43%;
        height: 600px;
    }

    .PostsContent p {
        line-height: 1.5em;
        padding: 3%;
        font-size: 115%;
        text-align: left;
    }

    .ReadRef {
        text-align: center;
    }

    .InfoFilm {
        font-size: 23px;
        text-align: left;
    }


    .Content p#dev {
        font-size: 30px;
    }

    .Content p#feedback {
        font-size: 17px;
    }


    Films html

    .InfoFilm {
        float: none;
        height: 100%;
    }

    .InfoFilm img {*/*/
        /*width: 90%;
        margin-bottom: 5%;*/
        /*width: 25%;*/
        /*height: 100%;*/
    /*}

    .Button {
        float: none;
    }

    #ButtonWatchMore{
        margin-left: 0;
    }

    Rating page
    .table {
        display: block;
    }

    th {
        font-size: 85%;
    }

    td {
        padding: 0;
        margin: 0;
        font-size: 95%;
        text-align: left;
    }

    Show Page
    iframe {
        width: 85%;
        height: 100%;
    }

    .DescriptionFilm {
        width: 90%;
        text-align: center;
        margin-left: 3%;
    }

    .DescriptionFilm img {
        float: none;
        width: 50%;
        display: block;
        margin: auto;
        margin-bottom: 7%;
    }

    .Reviews {
        text-align: left;
        margin-left: 5%;
    }

    .ReviewName {
        width: 95% !important;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .ReviewText {
        margin-left: 2%;
        width: 90%;
    }

    .Send {
        width: 850px;
    }

    .Send input[type="text"] {
        width: 37.7% !important;
        float: left;
        margin-left: 5%;
        height: 30px;
        border-radius: 50px;
        font-size: 20px;
        padding-left: 3%;
    }


    .Send textarea {
        float: left;
        margin-left: 5%;
        width: 725px;
        height: 160px;
        padding-left: 3%;
    }

    .Send input[name="ReviewMail"] {
    width: 52.5% !important;
    }

        .Send input[type="submit"] {
            border-radius: 20px;
            font-size: 20px;
            margin-left: 41%;
        }*/
}