
ul.Menu li.selected .dropdown ._Name {
    padding: 5px 35px 5px 10px;
    float: right;
    font: normal 106% 'Yandex Sans Display', sans-serif;
    display: block;
    color: #d3cbbd;
}

ul.Menu li.selected .dropdown .dropdown:hover ._Name {
    color: #ffeac2;
}

.RegLabel {
    color: #49945a;
    font-size: 0.8em;
    padding-bottom: 10px;
    font-family: math;
}

.btnRegForm {
    margin-top: 20px;
}

#RegForm input[type="text"] {
    margin-bottom: 10px;
}

#RegForm input[type="text"]::placeholder {
    color: #e6e3e3;
}

.ErrorForm {
    color: #fa0202;
    font-family: monospace;
    font-size: small;
}

.icon {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

    /* Ссылки внутри выпадающего списка */
    .dropdown-content a {
        padding: 12px 16px;
        color: black;
        border-radius: 5px;
    }

        /* Изменение цвета выпадающих ссылок при наведении курсора */
/*        .dropdown-content a:hover {
            
        }*/

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {
    display: block;
}

.fa-user, .fa-gears, .fa-arrow-right-from-bracket, .fa-heart {
    float: left;
    margin-top: 6px;
    margin-left: 9px;
    z-index: -1;
}

.string {
    border-radius: 5px;
}

.dropdown-content .string:hover a {
    color: #bb8c34 !important;
}

.dropdown-content .string:hover i {
    color: #bb8c34;
}

.dropdown .dropdown-content .string:hover {
    background-color: #ddd;
}

span#UserInfo {
    color: green;
}

.UserInfo {
    color: #494848;
    font-size: 20px;
    text-align: center;
    font-family: 'Comic Sans MS', 'Yandex Sans Text', cursive;
}

hr#profile {
    border: solid 1px #dedcd8;
    margin-left: 200px;
    margin-right: 200px;
    width: auto;
}

/*p#changeTheme {
    font-family: cursive;
    font-size: 20px;
}*/

.form_toggle {
    display: inline-block;
    overflow: hidden;
}

.radio {
    float: left;
    display: inline-block;
}

.radio input[type=radio] {
    display: none;
}

    .radio label {
        display: inline-block;
        padding: 0px 15px;
        line-height: 34px;
        border: 2px solid #817965;
        border-right: none;
        cursor: pointer;
        user-select: none;
    }

.form_toggle .radio1 label {
    border-radius: 6px 0 0 6px;
}

.form_toggle .radio2 label {
    border-radius: 0 6px 6px 0;
    border-right: 2px solid #817965;
}

.form_toggle .radio1 input[type=radio]:hover + label {
    background: #d3cbbd;
}

.form_toggle .radio2 input[type=radio]:hover + label {
    background: #3c3a33;
}
.form_toggle .radio2 label:hover .fa-moon {
    color: #fff !important;
}

.form_toggle .radio1 label:hover .fa-sun {
    color: #fff !important;
}
