<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Style.css">
    <link rel="stylesheet" href="/css/StyleUser.css">
    <link rel="stylesheet" href="/css/Layout.css">
    <link rel="stylesheet" href="/css/Mobile.css">
    <title>FilmZone</title>
</head>
<body>
    <div class="Main">
        <div class="Header">
            <div class="Logo">
                <div class="LogoText">
                    <h1><a href="/Home/Index"><img src="~/img/FilmZone.png" width="140" /></a></h1>
                </div>

            </div>
            <div class="MenuBar">
                <ul class="Menu">
                    <li class="selected"><a href="/Home/Index">Главная</a></li>
                    <li class="selected"><a href="/Home/Films?countFMax=4">Фильмы</a></li>
                    <li class="selected"><a href="/Home/Serials?countSMax=4">Сериалы</a></li>
                    <li class="selected"><a href="/Home/Rating">Рейтинг фильмов</a></li>
                    <li class="selected"><a href="/Home/Kontakts">Контакты</a></li>
                </ul>
            </div>
        </div>
        <div class="SiteContent">
            <div class="SideBarContainer">
                <div class="SideBar">
                    <h2>Поиск</h2>
                    <form method="get" action="/Home/SearchByName" id="SearchByName">
                        <input type="search" name="SearchField" placeholder="Ваш запрос" />
                        <input type="submit" class="btn" value="Найти" />
                    </form>
                </div>
                <div class="SideBar">
                    <h2>Вход</h2>
                    <form method="post" action="/User/Index" id="Login">
                        <input type="text" name="LoginField" placeholder="Логин" />
                        <input type="password" name="PasswordField" placeholder="Пароль" />
                        <input type="submit" class="btn" value="Войти" />
                        <div class="PassRegText">
                            <span><a href="/User/ForgotPassword">Забыли пароль?</a></span> | <span><a href="/User/RegistrationPage">Регистрация</a></span>
                        </div>
                    </form>
                </div>
                <div class="SideBar">
                    <h2>Новости</h2>
                    <span class="Message">
                        <strong>29.02.2024</strong>
                        <p>Мы запустили нашего тг помощника!! Он поможет вам выбрать фильмы на основе любых запросов и пожеланий:)</p>
                    </span>
                    <a href="#">Перейти</a>
                </div>
                <div class="SideBar">
                    <h2>Рейтинг фильмов</h2>
                    <ul>
                        <li><a href="/Home/Search?SearchField=Интерстеллар">Интерстеллар</a><span class="RatingSideBar">8.1</span></li>
                        <li><a href="#">Человек-паук: Последний выживший</a><span class="RatingSideBar">7.9</span></li>
                        <li><a href="#">Погрязшие во тьме</a><span class="RatingSideBar">7.5</span></li>
                        <li><a href="#">Человек-муравей</a><span class="RatingSideBar">7.3</span></li>
                    </ul>
                </div>
            </div>
                @RenderBody()
        </div>
        <div class="Footer">
            <p>
                <a href="/Home/Index">Главная</a> |
                <a href="/Home/Films?countFMax=4">Фильмы</a> |
                <a href="/Home/Serials?countSMax=4">Сериалы</a> |
                <a href="/Home/Rating">Рейтинг фильмов</a> |
                <a href="/Home/Kontakts">Контакты</a> |
                <a href="https://t.me/FilmZoneOfficial_bot">Наш TG</a>
            </p>
            <p>w-db.com 2024</p>
        </div>
    </div>
</body>
</html>
