@using FilmZone.Controllers
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Fonts/Fonts.css">
    <link rel="stylesheet" href="/css/Style.css">
    <link rel="stylesheet" href="/css/StyleUser.css">
    <link rel="stylesheet" href="/css/Layout.css">
    <link rel="stylesheet" href="/css/Mobile.css">
    <link rel="icon" type="image/x-icon" href="/FilmIcon.ico">
    <script src="https://kit.fontawesome.com/1aa93cc05d.js" crossorigin="anonymous"></script>
    <title>FilmZone</title>
</head>
<body>
    @if (HttpContextAccessor.HttpContext?.Session.Get("_Name")?.Any() == true && HttpContextAccessor.HttpContext?.Session.GetString("_BackgroundColor") == "dark")
    {
        <style>
            .Main{
                background-color: darkgrey;
            }

            .SiteContent {
                background-color: darkgrey;
            }
            h1, h2, a {
                color: #ffeac2;
            }
        </style>
    }
    else
    {
        <style>
            .Main {
                background-color: #f9f9f9;
            }

            .SiteContent {
                background-color: #f9f9f9;
            }
        </style>
    }
    <div class="Main">
        <div class="Header">
            <div class="Logo">
                <a href="/Home/Index"><img src="~/img/FilmZone.png" width="140" /></a>
            </div>
            <div class="MenuBar">
                <ul class="Menu">
                    <li class="selected"><a href="/Home/Index">Главная</a></li>
                    <li class="selected"><a href="/Home/Films">Фильмы</a></li>
                    <li class="selected"><a href="/Home/Serials?countSMax=4">Сериалы</a></li>
                    <li class="selected"><a href="/Home/Rating">Рейтинг фильмов</a></li>
                    <li class="selected"><a href="/Home/Kontakts">Контакты</a></li>
                    @if (HttpContextAccessor.HttpContext?.Session.Get("_Name")?.Any() == true)
                    {
                        <li>
                            <div class="dropdown">
                                <img class="icon" src="~/img/icon.png">
                                <div class="dropdown-content">
                                    <a href="/User/Profile">Профиль</a>
                                    <a href="/User/Options">Настройки</a>
                                    <a href="/User/ExitFromAccount">Выйти</a>
                                </div>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="selected Enter">
                            <a href="/User/LoginPage" id="open_pop_up">Войти</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        
        <div class="SiteContent">
            <div class="SideBarContainer">
                <div class="SideBar">
                    <form method="get" action="/Home/SearchByName" id="SearchByName">
                        <input type="search" name="SearchField"/>
                        <span class="fa-solid fa-magnifying-glass magnifying-glass"></span>
                        <input type="submit" id="find"/>
                    </form>
                </div>
                @* @if (HttpContextAccessor.HttpContext?.Session.Get("_Name")?.Any() is null)
                {
                    <div class="SideBar">
                        <h2>Вход</h2>
                        <form method="post" action="/User/Index" id="Login">
                            <input type="text" name="LoginField" placeholder="Логин" />
                            <input type="password" name="PasswordField" placeholder="Пароль" />
                            <input type="submit" class="btn" value="Войти" />
                            <div class="PassRegText">
                                <span><a href="/User/ForgotPassword">Забыли пароль?</a></span> | <span><a href="/User/RegistrationPage">Регистрация</a></span>
                            </div>
                        </form>
                    </div>
                } *@
                <div class="SideBar">
                    <h2>Новости</h2>
                    <span class="Message">
                        <p><strong>29.02.2024</strong></p>
                        <hr>
                        <p>Мы запустили нашего тг помощника!! Он поможет вам выбрать фильмы на основе любых запросов и пожеланий) <img src="https://smailiki.ucoz.net/_ph/68/2/488864449.gif" width="23" /></p>
                    </span>
                    <a href="https://t.me/FilmZoneOfficial_bot">Перейти</a>
                </div>

                <div class="SideBar">
                    <h2>Сортировать по жанрам:</h2>
                    <ul>
                        <li><a href="/Home/SearchByType?type=Anime">Аниме</a></li>
                        <li><a href="/Home/SearchByType?type=Biography">Биография</a></li>
                        <li><a href="/Home/SearchByType?type=ActionMovie">Боевик</a></li>
                        <li><a href="/Home/SearchByType?type=Western">Вестерн</a></li>
                        <li><a href="/Home/SearchByType?type=Military">Военный</a></li>
                        <li><a href="/Home/SearchByType?type=Detective">Детектив</a></li>
                        <li><a href="/Home/SearchByType?type=Documentary">Документальный</a></li>
                        <li><a href="/Home/SearchByType?type=Drama">Драма</a></li>
                        <li><a href="/Home/SearchByType?type=History">История</a></li>
                        <li><a href="/Home/SearchByType?type=Comedy">Комедия</a></li>
                        <li><a href="/Home/SearchByType?type=Criminal">Криминал</a></li>
                        <li><a href="/Home/SearchByType?type=ShortFilm">Короткометражка</a></li>
                        <li><a href="/Home/SearchByType?type=Melodrama">Мелодрама</a></li>
                        <li><a href="/Home/SearchByType?type=Cartoon">Мультфильм</a></li>
                        <li><a href="/Home/SearchByType?type=Musical">Мюзикл</a></li>
                        <li><a href="/Home/SearchByType?type=Adventures">Приключения</a></li>
                        <li><a href="/Home/SearchByType?type=Thriller">Триллер</a></li>
                        <li><a href="/Home/SearchByType?type=Horrors">Ужасы</a></li>
                        <li><a href="/Home/SearchByType?type=Fantasy">Фантастика</a></li>
                    </ul>
                </div>

                @* <div class="SideBar">
                    <h2>Рейтинг фильмов:</h2>
                    <ul>
                        <li><a href="/Home/Search?SearchField=Интерстеллар">Интерстеллар</a><span class="RatingSideBar">8.1</span></li>
                        <li><a href="#">Человек-паук: Нет пути домой</a><span class="RatingSideBar">7.9</span></li>
                        <li><a href="#">Погрязшие во тьме</a><span class="RatingSideBar">7.5</span></li>
                        <li><a href="#">Человек-муравей</a><span class="RatingSideBar">7.3</span></li> 
                        
                    </ul>
                </div> *@
                @RenderSection("Rating", false)
            </div>
                @RenderBody()
        </div>
        
        <div class="Footer">
            <p>
                <a href="/Home/Index">Главная</a> |
                <a href="/Home/Films?countFMax=4">Фильмы</a> |
                <a href="/Home/Serials?countSMax=4">Сериалы</a> |
                <a href="/Home/Rating">Рейтинг фильмов</a> |
                <a href="/Home/Kontakts">Контакты</a> |
                <a href="https://t.me/FilmZoneOfficial_bot">Наш TG</a>
            </p>
            <p>w-db.com 2024</p>
        </div>
    </div>

    <div class="pop_up"id="pop_up">
        <div class="pop_up_container" id="pop_up_container">
            <div class="pop_up_body" id="pop_up_body">
                <div class="content"id="content">
                    <div class="text">Вход</div>
                    <form method="post" action="/User/Index">
                        <div class="field">
                            <span class="fas fa-user"></span>
                            <input type="text" name="LoginField" required>
                            <label>Почта</label>
                        </div>
                        <div class="field">
                            <span class="fas fa-lock"></span>
                            <input type="password" name="PasswordField" required>
                            <label>Пароль</label>
                        </div>
                        <div class="forgot-pass"><a href="/User/ForgotPassword">Забыли пароль?</a></div>
                        <button>Войти</button>
                        <div class="signup">
                            Впервые на сайте?
                            <a href="/User/RegistrationPage">Регистрация</a>
                        </div>
                    </form>
                    <div class="pop_up_close" id="pop_up_close">&#10006</div>
                </div>
            </div>
        </div>
    </div>
    @await RenderSectionAsync("Scripts", false);
    <script src="~/js/pop-up.js"></script>
</body>
</html>
