@using FilmZone.Controllers
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor
@inject FilmZone.Service.Interfaces.ICacheService cache
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=980">
    <link rel="stylesheet" href="/css/Fonts/Fonts.css">
    <link rel="stylesheet" href="/css/Style.css">
    <link rel="stylesheet" href="/css/Layout.css">
    <link rel="icon" type="image/x-icon" href="/FilmIcon.ico">
    <script src="https://kit.fontawesome.com/1aa93cc05d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/Mobile.css">
    <title>FilmZone</title>
</head>
<body>
    @if (httpContextAccessor.HttpContext?.Session.Get("_Name")?.Any() == true && httpContextAccessor.HttpContext?.Session.GetString("_BackgroundColor") == "dark")
    {
        <style>
            .mainColor {
                background-color: #3c3a3399;
            }


            .SiteContent {
                background-color: darkgrey;
            }
            h1, h2, a {
                color: #ffeac2;
            }
        </style>
    }
    else
    {
        <style>
            .mainColor {
                background-color: #a6a6a669;
            }

            .SiteContent {
                background-color: #f9f9f9;
            }
        </style>
    }
    <div class="Main">
        <div class="mainColor">
            <div class="Header">
                <div class="Logo">
                    <a href="/Film/Index"><img src="~/img/FilmZone.png" width="140" /></a>
                </div>
                <div class="MenuBar">
                    <ul class="Menu">
                        <li class="selected"><a href="/Film/Index">Главная</a></li>
                        <li class="selected"><a href="/Film/Films">Фильмы</a></li>
                        <li class="selected"><a href="/Film/Serials?countSMax=4">Сериалы</a></li>
                        <li class="selected"><a href="/Film/Rating">Рейтинг фильмов</a></li>
                        <li class="selected"><a href="/Film/Kontakts">Контакты</a></li>
                        @if (httpContextAccessor.HttpContext?.Session.Get("_Name")?.Any() == true)
                        {
                            <link rel="stylesheet" href="/css/StyleUser.css">
                            <li class="selected">
                                <div class="dropdown">
                                    <img class="icon" src="~/img/icon.png"><div class="_Name">@httpContextAccessor.HttpContext.Session.GetString("_Name")</div>
                                    <div class="dropdown-content">
                                        <div class="string"><i class="fa-regular fa-heart"></i><a href="/User/Favourites">Избранное</a></div>
                                        <div class="string"><i class="fa-regular fa-user"></i><a href="/User/Profile">Профиль</a></div>
                                        <div class="string"><i class="fa-solid fa-gears"></i><a href="/User/Options">Настройки</a></div>
                                        <div class="string"><i class="fa-solid fa-arrow-right-from-bracket"></i><a href="/User/ExitFromAccount">Выйти</a></div>
                                    </div>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="selected Enter">
                                <a href="#" id="open_pop_up">Войти</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        
            <div class="SiteContent">
                <div class="SideBarContainer">
                    <div class="SideBar">
                        <form method="get" action="/Film/SearchByName" id="SearchByName">
                            <input type="search" name="SearchField"/>
                            <span class="fa-solid fa-magnifying-glass magnifying-glass"></span>
                            <input type="submit" id="find"/>
                        </form>
                    </div>
                    <div class="SideBar">
                        <h2>Новости</h2>
                        <span class="Message">
                            <p><strong>29.02.2024</strong></p>
                            <hr>
                            <p>Мы запустили нашего тг помощника!! Он поможет вам выбрать фильмы на основе любых запросов и пожеланий) <img src="https://smailiki.ucoz.net/_ph/68/2/488864449.gif" width="23" /></p>
                        </span>
                        <i class="fa-brands fa-telegram fa-lg"></i><a href="https://t.me/FilmZoneOfficial_bot">Перейти</a>
                    </div>
                    @if (cache.TryGetValue("MovieRatings", out var cacheValue))
                    {
                        var films = cacheValue as List<FilmZone.Domain.Models.Film>;
                        <div class="SideBar">
                            <h2>Рейтинг:</h2>
                            <ul>
                                @foreach (var f in films)
                                {
                                    <li><a href="/Film/SearchById?id=@f.Id">@f.Name</a><span class="RatingSideBar">@f.Rating</span></li>
                                }
                            </ul>
                        </div>
                    }
                    <div class="SideBar">
                        <h2>Сортировать по жанрам:</h2>
                        <ul>
                            <li><a href="/Film/SearchByType?type=Anime">Аниме</a></li>
                            <li><a href="/Film/SearchByType?type=Biography">Биография</a></li>
                            <li><a href="/Film/SearchByType?type=ActionMovie">Боевик</a></li>
                            <li><a href="/Film/SearchByType?type=Western">Вестерн</a></li>
                            <li><a href="/Film/SearchByType?type=Military">Военный</a></li>
                            <li><a href="/Film/SearchByType?type=Detective">Детектив</a></li>
                            <li><a href="/Film/SearchByType?type=Documentary">Документальный</a></li>
                            <li><a href="/Film/SearchByType?type=Drama">Драма</a></li>
                            <li><a href="/Film/SearchByType?type=History">История</a></li>
                            <li><a href="/Film/SearchByType?type=Comedy">Комедия</a></li>
                            <li><a href="/Film/SearchByType?type=Criminal">Криминал</a></li>
                            <li><a href="/Film/SearchByType?type=ShortFilm">Короткометражка</a></li>
                            <li><a href="/Film/SearchByType?type=Melodrama">Мелодрама</a></li>
                            <li><a href="/Film/SearchByType?type=Cartoon">Мультфильм</a></li>
                            <li><a href="/Film/SearchByType?type=Musical">Мюзикл</a></li>
                            <li><a href="/Film/SearchByType?type=Adventures">Приключения</a></li>
                            <li><a href="/Film/SearchByType?type=Thriller">Триллер</a></li>
                            <li><a href="/Film/SearchByType?type=Horrors">Ужасы</a></li>
                            <li><a href="/Film/SearchByType?type=Fantasy">Фантастика</a></li>
                        </ul>
                    </div>
                </div>
                    @RenderBody()
            </div>
        
            <div class="Footer">
                <p>
                    <a href="/Film/Index">Главная</a> |
                    <a href="/Film/Films?countFMax=4">Фильмы</a> |
                    <a href="/Film/Serials?countSMax=4">Сериалы</a> |
                    <a href="/Film/Rating">Рейтинг фильмов</a> |
                    <a href="/Film/Kontakts">Контакты</a> |
                    <a href="https://t.me/FilmZoneOfficial_bot">Наш TG</a>
                </p>
                <p>w-db.com 2024</p>
            </div>
        </div>
    </div>

    <div class="pop_up"id="pop_up">
        <div class="pop_up_container" id="pop_up_container">
            <div class="pop_up_body" id="pop_up_body">
                <div class="content"id="content">
                    <div class="text">Вход</div>
                    <form method="post" action="/User/Index">
                        <div class="field">
                            <span class="fas fa-user"></span>
                            <input type="text" name="LoginField" required>
                            <label>Логин</label>
                        </div>
                        <div class="field">
                            <span class="fas fa-lock"></span>
                            <input type="password" name="PasswordField" required>
                            <label>Пароль</label>
                        </div>
                        <div class="forgot-pass"><a href="/User/ForgotPassword">Забыли пароль?</a></div>
                        <button>Войти</button>
                        <div class="signup">
                            Впервые на сайте?
                            <a href="/User/RegistrationPage">Регистрация</a>
                        </div>
                    </form>
                    <div class="pop_up_close" id="pop_up_close">&#10006</div>
                </div>
            </div>
        </div>
    </div>
    @if (!httpContextAccessor.HttpContext.Request.Cookies.TryGetValue("IKnowAboutCookie", out string? cookieValue))
    {
        <div class="cookie" id="cookie">
            <div class="cookie_text">Привет! Мы используем cookie<img class="cookie_image" src="~/img/cookie.png" />для нормальной работы нашего сайта. Продолжая оставаться здесь, вы соглашаетесь с использованием всех файлов cookie.</div>
            <button class="cookie_apply" id="cookie_apply" type="button">ОК</button>
        </div>
        <script>
            document.getElementById('cookie_apply').addEventListener('click', function (e) {
                e.preventDefault();
                document.getElementById('cookie').classList.add('cookieClose');
                fetch('/api/api/acceptCookie', {
                    method: 'POST'
                });
            });
        </script>
    }
    @await RenderSectionAsync("Scripts", false)
    <script src="~/js/pop-up.js"></script>
</body>
</html>
