@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница регистрации</title>
    <link rel="stylesheet" href="/css/LoginPage.css">
    <script src="https://kit.fontawesome.com/1aa93cc05d.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="content">
        <div class="text">Вход</div>
        <form  method="post" action="/User/Index">
            <div class="field">
                <span class="fas fa-user"></span>
                <input type="text" name="LoginField" required>
                <label>Почта</label>
            </div>
            <div class="field">
                <span class="fas fa-lock"></span>
                <input type="password" name="PasswordField" required>
                <label>Пароль</label>
            </div>
            <div class="forgot-pass"><a href="/User/ForgotPassword">Забыли пароль?</a></div>
            <button>Войти</button>
            <div class="signup">
                Впервые на сайте?
                <a href="/User/RegistrationPage">Регистрация</a>
            </div>
        </form>
    </div>
</body>
</html>
