<div class="Content">
   
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var currentId = 1;

            function loadFilms() {
                $.ajax({
                    url: '@Url.Action("AjaxSearchFilms", "Home")',
                    type: 'GET',
                    data: { currentId: currentId },
                    success: function (result) {
                        $("#newCurrentId").remove();
                        $("#ButtonWatchMore").remove();
                        $(".Content").append(result);
                        var newCurrentId = $(".Content").find("#newCurrentId").val();
                        if (newCurrentId) {
                            currentId = newCurrentId;
                        }
                        console.log(currentId);
                    },
                    error: function (xhr) {
                        console.log(xhr.responseText);
                    }
                });
            }

            // Загружаем фильмы при загрузке страницы
            loadFilms();

            // Загружаем фильмы при нажатии на кнопку
            $(document).on('submit', '#loadMoreForm', function (event) {
                event.preventDefault(); // Предотвращаем стандартное поведение формы
                loadFilms();
            });
        });
    </script>
}