@using FilmZone.Domain.Enum
@model List<FilmZone.Domain.ViewModels.FilmViewModel>
@{
    int count = Model.Count + 4;
    string filmDesc;
}
<div class="Content">
    @foreach (var film in Model)
    {
        <div class="InfoFilm">
            <img src="@Url.Content(film.PathToImage)" />
            @{
                if (film.Description.Length > 350)
                {
                    filmDesc = film.Description[..350] + "...";
                }
                else
                {
                    filmDesc = film.Description;
                }
            }
            @filmDesc
            <div class="Button"><a href="/Home/SearchById/@film.Id">Смотреть</a></div>
        </div>
    }
    @if (ViewData["Message"] != "Конец")
    {
        <div class="ButtonWatchMore"><a href="/Home/Films?countFMax=@count">Смотреть еще</a></div>
    }
</div>