<div class="Content">
    <div class="InfoFilm">
        <img src="~/img/inter.png">
        Когда засуха, пыльные бури и вымирание растений приводят человечество к продовольственному кризису,
        коллектив исследователей и учёных отправляется сквозь червоточину (которая предположительно соединяет
        области пространства-времени через большое расстояние) в путешествие, чтобы превзойти прежние ограни
        чения для космических путешествий человека и найти планету с подходящими для человечества условиями...
        <div class="Button"><a href="Home/Search">Смотреть</a></div>
    </div>
    <div class="InfoFilm">
        <img src="~/img/max.png">
        Когда засуха, пыльные бури и вымирание растений приводят человечество к продовольственному кризису,
        коллектив исследователей и учёных отправляется сквозь червоточину (которая предположительно соединяет
        области пространства-времени через большое расстояние) в путешествие, чтобы превзойти прежние ограни
        чения для космических путешествий человека и найти планету с подходящими для человечества условиями...
        <div class="Button"><a href="">Смотреть</a></div>
    </div>
    <div class="InfoFilm">
        <img src="~/img/matrix.png">
        Когда засуха, пыльные бури и вымирание растений приводят человечество к продовольственному кризису,
        коллектив исследователей и учёных отправляется сквозь червоточину (которая предположительно соединяет
        области пространства-времени через большое расстояние) в путешествие, чтобы превзойти прежние ограни
        чения для космических путешествий человека и найти планету с подходящими для человечества условиями...
        <div class="Button"><a href="">Смотреть</a></div>
    </div>
    <div class="InfoFilm">
        <img src="~/img/cloud.png">
        Когда засуха, пыльные бури и вымирание растений приводят человечество к продовольственному кризису,
        коллектив исследователей и учёных отправляется сквозь червоточину (которая предположительно соединяет
        области пространства-времени через большое расстояние) в путешествие, чтобы превзойти прежние ограни
        чения для космических путешествий человека и найти планету с подходящими для человечества условиями...
        <div class="Button"><a href="">Смотреть</a></div>
    </div>
</div>