<div class="Content">
    <h2>Контакты</h2>
    <p id="dev">Разработчик и владелец сайта:</p> 
    <style>
        p#dev {
            color: #b48b2d;
            font-size: 17px;
        }
    </style>
    <p>Тел: +7-938-535-52-18</p>
    <p>Почта: Maxlebed04@mail.ru</p>
    <p id="feedback">Оставьте свой отзыв или любые пожелания о нашей площадке. Прочитаем и отреагируем в ближайшее время!</p>
    <style>
        p#feedback {
            color: #b48b2d;
            line-height: 1.5em;
            font-size: medium;
        }
    </style>
    <div class="Send">

        <form method="post" action="" id="Review"></form>
        <input type="text" name="ReviewName" placeholder="Ваше имя">
        <input type="text" name="ReviewMail" placeholder="Ваш e-Mail">
        <textarea name="ReviewText"></textarea>
        <input type="submit" placeholder="Отправить">

    </div>
</div>