<div class="Content">
    <table>
        <tr>
            <th></th>
            <th>Фильмы</th>
            <th class="Center">Год</th>
            <th class="Center">Рейтинг</th>
        </tr>
        <tr>
            <td class="Center"> <img src="~/img/inter.png"></td>
            <td>1. <a href="interstellar.html">Интерстеллар</a></td>
            <td class="Center">2014</td>
            <td class="Center Rating">8.1</td>
        </tr>
        <tr>
            <td class="Center"> <img src="~/img/max.png"></td>
            <td>2. <a href="#">Человек-паук</a></td>
            <td class="Center">2023</td>
            <td class="Center Rating">7.9</td>
        </tr>
        <tr>
            <td class="Center"> <img src="~/img/matrix.png"></td>
            <td>3. <a href="#">Погрязшие во тьме</a></td>
            <td class="Center">2015</td>
            <td class="Center Rating">7.5</td>
        </tr>
        <tr>
            <td class="Center"> <img src="~/img/cloud.png"></td>
            <td>4. <a href="#">Человек-муравей</a></td>
            <td class="Center">2011</td>
            <td class="Center Rating">7.3</td>
        </tr>
    </table>
</div>
